<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
	"-//mybatis.org//DTD Config 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="false"/>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.itbank.model.ItemDTO" alias="item"/>
		<typeAlias type="com.itbank.model.PagingDTO" alias="paging"/>
		<typeAlias type="com.itbank.model.SearchDTO" alias="search"/>
		<typeAlias type="com.itbank.model.PageAndSearchDTO" alias="searchPage"/>
		<typeAlias type="com.itbank.model.MemberDTO" alias="member"/>
		<typeAlias type="com.itbank.model.FreeBoardDTO" alias="freeboard"/>
		<typeAlias type="com.itbank.model.FreeBoardReplyDTO" alias="freeboardreply"/>
		<typeAlias type="com.itbank.model.NoticeBoardDTO" alias="noticeboard"/>
		<typeAlias type="com.itbank.model.EventBoardDTO" alias="eventboard"/>
		<typeAlias type="com.itbank.model.GocampReviewDTO" alias="gocampreview"/>
	</typeAliases>
	
</configuration>