<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
		"-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.itbank.repository.FreeBoardReplyDAO">
<!-- 		<select id="selectAll" resultType="freeboard" parameterType="paging"> -->
<!-- 			select * from free_board  -->
			
<!-- 			where ${column} like '%${search}%' -->
<!-- 				order by  -->
<!-- 					idx  -->
<!-- 				offset #{offset} rows -->
<!-- 				fetch next #{perPage} rows only -->
<!-- 		</select> -->
	
		<insert id="insertReply" parameterType="freeboardreply">
			insert into reply_free_board
				(writer, reply_content, board) 
					values (#{writer}, #{reply_content}, #{board})
		</insert>
		
		<select id="getReply" parameterType="int" resultType="freeboardreply">
			select r.* from reply_free_board r join free_board f 
					on f.idx = r.board where f.idx = #{idx}; 
		</select>
		
		
</mapper>
		