<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.itbank.repository.LoginDao">
	
	<select id="selectUser" resultType="com.itbank.model.UserDetailsDto">
		select userid,userpw,enabled from member where userid=#{userid}
	</select>
	
	<select id="getAuthList" resultType="String">
		select AUTHORITY from member_auth where userid=#{userid}
	</select>
	
	<select id="checkAdmin" parameterType="member" resultType="member">
		select userid, userpw from member
			where
				userid = #{adminid}
	</select>
	<select id="checkDup" parameterType="string" resultType="int">
		select count(*) from member where userid = #{userid}
	</select>
	
	<insert id="signup" parameterType="member">
		insert into member (userid, userpw, username, nickname, email, pnum, birth)
			values (#{userid}, #{userpw}, #{username}, #{nickname}, #{email}, #{pnum}, #{birth})
	</insert>
	<insert id="setAuth" parameterType="string">
		insert into member_auth (userid) values (#{userid})
	</insert>
	
	<select id="getUser" resultType="member">
		select mem.userid, au.authority from member mem join member_auth au on mem.userid = au.userid
	</select>
	

	
</mapper>















