<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
		"-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.itbank.repository.UploadDAO">

<insert id="insert" parameterType="upload">
		insert into upload1
			(title, filePath)
		values
			(#{title}, #{filePath})
</insert>

<select id="selectAll" resultType="upload">
		select * from upload1
</select>



</mapper>